*  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.home {
    width: 100%;
    height: 100vh;
    background-image: url('20181011001814.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me{
    width: 100%;
    height: 100vh;
    background-color: rgb(160, 108, 108);
    display: flex;
}
.left {
    width: 50%;
    background-color: rgb(red, green, blue);
    background-image: url('Alien.jpg');
}
.right {
    width: 50%;
    background-color: rgb(red, green, blue);
    background-image: url('heart.jpg');
}
.contact{
    
}